EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:8000/api/v1
EXPO_PUBLIC_WEBSOCKET_URL=http://10.0.2.2:8000
EXPO_PUBLIC_ENABLE_FIREBASE_PUSH=true
RNMAPBOX_MAPS_DOWNLOAD_TOKEN=
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=
GOOGLE_SERVICES_JSON=./google-services.json
GOOGLE_SERVICE_INFO_PLIST=./GoogleService-Info.plist
